.homeSwiper .swiper-button-next {
  bottom: 20px;
  right: 40px;
  top: auto;
}
.homeSwiper .swiper-button-next::after {
  font-size: 20px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  border: 1px solid;
}
.homeSwiper .swiper-button-next:hover::after {
  background: red;
  border-color: red;
}
.homeSwiper .swiper-button-prev {
  bottom: 20px;
  right: 100px;
  left: auto;
  top: auto;
}
.homeSwiper .swiper-button-prev::after {
  font-size: 20px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  border: 1px solid;
}
.homeSwiper .swiper-button-prev:hover::after {
  background: red;
  border-color: red;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #fff;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
